<li {% if id %}id="{{ id | escape }}"{% endif %} class="list-group-item {{ additionalClasses }}"><a href="{{ anchor | escape }}" {% if textClasses %}class="{{ textClasses }}"{% endif %}>{{ title | escape }}</a>{{ content }}</li>
