<div class="btn-group blog-prev-next-wrapper" role="group" 
            aria-label="Next/Previous">
    <a class="btn btn-primary blog-prev-link" href="#" role="button">
    &laquo;&laquo;&laquo;&laquo;&laquo;&laquo; <%= prevDoc.metadata.title %></span></a>
    <a class="btn btn-primary blog-next-link" href="#" role="button">
    <span style="float: right"><%= nextDoc.metadata.title %> &raquo;&raquo;&raquo;&raquo;&raquo;&raquo;</span></a>
</div>