<div class="btn-group blog-prev-next-wrapper" role="group" 
            aria-label="Next/Previous">
    <a class="btn btn-outline-primary blog-prev-link" href="/<%= prevDoc.renderPath %>" role="button">
    &laquo;&laquo;&laquo;&laquo;&laquo;&laquo; <%= prevDoc.docMetadata.title %></span></a>
    <a class="btn btn-outline-primary blog-next-link" href="/<%= nextDoc.renderPath %>" role="button">
    <span style="float: right"><%= nextDoc.docMetadata.title %> &raquo;&raquo;&raquo;&raquo;&raquo;&raquo;</span></a>
</div>