<div id="breadcrumbTrail">
    <ol class="breadcrumb">
    <%
    for (var crumb of breadcrumbs) {
        %> <li> <a href="<%= crumb.path %>"><%= crumb.title %></a> </li><%
    }
    %>
    </ol>
</div>
