<div id="breadcrumbTrail">
    <ol class="breadcrumb">
    <%
    for (var i in breadcrumbs) {
        %> <li> <a href="<%= breadcrumbs[i].path %>"><%= breadcrumbs[i].title %></a> </li><%
    }
    %>
    </ol>
</div>