<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ id | safe}}">
  {{ buttonText | safe }}
</button>
<div class="modal fade" id="{{ id | safe}}" tabindex="-1" role="dialog" 
            aria-labelledby="{{ id | safe}}-title" aria-hidden="true">
  <div class="modal-dialog {{ modelAdditionalClasses | safe }}" role="document">
    <div class="modal-content">
      <div class="modal-header">
          {% if title %}
            <h5 class="modal-title" id="{{ id | safe}}-title">{{ title | safe }}</h5>
          {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ content }}
      </div>
      <div class="modal-footer">
          {% if closeButtonText %}
            <button type="button" class="btn btn-secondary" 
                    data-dismiss="modal">{{ closeButtonText | safe }}</button>
          {% endif %}
      </div>
    </div>
  </div>
</div>