<div class="card {{ additionalClasses | safe }}"
        {% if id %}id="{{ id | safe }}"{% endif %}
        {% if style %}style="{{ style | safe }}"{% endif %} >
    {% if cardImageTop and cardImageTop !== '' -%}
        <img src="{{ cardImageTop | safe }}" class="card-img-top"
                {%if cardImageAlt %}alt="{{ cardImageAlt | safe }}"{% endif %}
                {%if cardImageStyle %}style="{{ cardImageStyle | safe }}"{% endif %}
                {%if cardImageResizeTo %}resize-to="{{ cardImageResizeTo | safe }}"{% endif %}
                {%if cardImageResizeWidth %}resize-width="{{ cardImageResizeWidth | safe }}"{% endif %} />
    {%- endif -%}
    {%- if header and header !== '' -%}
        <div class="card-header">{{ header }}</div>
    {%- endif %}
    <div class="card-body">
        {% if bodyHeader and bodyHeader !== '' -%}
            <div class="card-header">
                <h5 class="card-title">{{ bodyHeader }}</h5>
            </div>
        {%- endif -%}
        {{ content }}
    </div>
</div>