
<ul class='list-group'>
    {% for entry in entries -%}
        <li class="list-group-item">
            <strong>
            <a href="/{{ entry.renderPath }}"> 
                {{- entry.metadata.title -}}
            </a></strong>
            {%- if entry.metadata.teaser %}
            {{- entry.metadata.teaser -}}
            {% endif %}
        </li>
    {%- endfor %}
</ul>