{% macro card_block(id, header, additionalClasses, style, cardImageTop, cardImageAlt, cardImageStyle, cardImageResizeTo, cardImageResizeWidth, bodyHeader, template) -%}
{%- set content = caller() -%}
{%- if template -%}
{%- set _template = template -%}
{%- else -%}
{%- set _template = "card.html.njk" -%}
{%- endif -%}
{%- include _template -%}
{%- endmacro %}

{% macro carousel_container(id, optionalclasses, width, style, template) %}
{%- set content = caller() -%}
{%- if template -%}
{%- set _template = template -%}
{%- else -%}
{%- set _template = "carousel-container.html.njk" -%}
{%- endif -%}
{%- include _template -%}
{%- endmacro %}

{% macro carousel_item(id, isactive, href, alt, width, resizeto, resizewidth, style, captiontitle, captionbody, template) %}
{% if isactive and ( isactive === "true" or isactive === "isactive" ) %}
{% set isactive = "active" %}
{% endif %}
{%- if template -%}
{%- set _template = template -%}
{%- else -%}
{%- set _template = "carousel-item.html.njk" -%}
{%- endif -%}
{%- include _template -%}
{%- endmacro %}

{% macro collapse_container(id, template) %}
{%- set content = caller() -%}
{%- if template -%}
{%- set _template = template -%}
{%- else -%}
{%- set _template = "collapse-container.html.njk" -%}
{%- endif -%}
{%- include _template -%}
{%- endmacro %}

{% macro collapse_item(id, thumburl, collapsed, parentID, template) %}
{%- if template -%}
{%- set _template = template -%}
{%- else -%}
{%- set _template = "collapse-item.html.njk" -%}
{%- endif -%}
{%- include _template -%}
{%- endmacro %}

{% macro button_launched_modal(id, buttonText, closeButtonText, title, modelAdditionalClasses, template) %}
{%- set content = caller() -%}
{%- if template -%}
{%- set _template = template -%}
{%- else -%}
{%- set _template = "button-modal.html.njk" -%}
{%- endif -%}
{%- include _template -%}
{% endmacro %}
