---
title: Carousel test
layout: default.html.ejs
---

{% import "ak_bootstrap_macros.njk" as ak_bootstrap with context %}

{% call ak_bootstrap.carousel_container(id="carousel1") %}
    {% call ak_bootstrap.carousel_item(href="img/APTERA-8360-web.jpg", isactive="true", captionbody="Aptera") %}
    {% endcall %}
    {% call ak_bootstrap.carousel_item(href="img/2009_green_bike.jpg", captionbody="Vectrix electric maxi-scooter") %}
    {% endcall %}
    {% call ak_bootstrap.carousel_item(href="img/loladrayson-3-web.jpg", captionbody="Drayson Racing electric race car based on Lola chassis") %}
    {% endcall %}
    {% call ak_bootstrap.carousel_item(href="img/karma18-web.jpg", captionbody="Fisker Karma") %}
    {% endcall %}
    {% call ak_bootstrap.carousel_item(href="img/PP125.jpg", captionbody="UQM drive train for electric vehicles") %}
    {% endcall %}
{% endcall %}
